<!DOCTYPE html>
<html>
  <head><title>DeleteUsers</title></head>
  <body>
 
    id:<input type = "text" id = "id3"></input>
    <button onclick = "deleteUser()">Delete User</button>

    <script>
      function deleteUser() {
        let xhttp = new XMLHttpRequest();
        let url = "/api/user/"+document.getElementById("id3").value;
        console.log(url);
        xhttp.open('DELETE', url, true);
        xhttp.setRequestHeader('Content-type','application/x-www-form-urlencoded');
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            alert(this.responseText);
          }
        };
        xhttp.send();
      };
    </script>
  </body>
</html>