<!DOCTYPE html>
<html>
  <head><title>ManageUsers</title></head>
  <body>
    <form action = "/api/user" method = "GET" >
      <input type = "submit" value = "Get All Users Details"/>
    </form><br/>
    <form action = "/adduser">
    <input type = "submit" value = "Add user"/>
    </form><br/>
    <form action = "/updateuser">
    <input type = "submit" value = "Update User"/>
    </form><br/>
    <form action = "/deleteuser">
      <input type = "submit" value = "Delete User"/>
    </form><br/>
  </body>
</html>